@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "a";
}

input {
    box-sizing: border-box;
    border: transparent;
    background: transparent;
    outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: inherit;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    border: 0;
}

textarea,
select,
option,
input {
    outline: none;
}

h2{
    font-weight: 500;
}


@font-face {
    font-family: "a";
    src: url("a.ttf") format("truetype");
}


.Main{
    width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.MainLeft{
    width: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px #00000020;
    padding: 15px 0;
    position: sticky;
    top: 30px;
}
.MainLeftList{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    color: #000000;
}
.MainLeftList h2{
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}
.MainLeftListNav{
    background: #000000;
    color: #ffffff;
}
.MainRight{
    width: calc(100% - 250px);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.MainRightList{
    width: 100%;
}
.MainRightList h2{
    font-size: 24px;
    color: #000000;
    line-height: 1;
    margin-bottom: 30px;
}
.MainRightList ul{
    width: 100%;
    margin-top: 30px;
}
.MainRightList ul li{
    width: 100%;
}
.MainRightList button {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    background: transparent;
    padding: 0 30px;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.MainRightListPor{
    width: 100%;
    position: relative;
}
.ZhenshangYin {
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
}
.zhenshangyin-copy-button {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    font-weight: bold;
}
.MainRightList h3{
    font-size: 12px;
    color: #000000;
}
#dropdownMultiSelectWithDelete,
.MainRightList input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #000000;
    font-size: 12px;
    color: #000000;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.table{
    width: 100%;
    margin-top: 15px;
    font-size: 13px;
    color: #000000;
}
.table table{
    width: 100%;
    border: 1px solid #e9e9e9;
}
.table table th{
    border: 1px solid #e9e9e9;
    padding: 10px 20px;
    text-align: left;
    background: #f7f7f7;
    white-space: nowrap;
    font-size: 14px;
}
.table table td{
    border: 1px solid #e9e9e9;
    padding: 10px 20px;
    text-align: left;
}
.code{
    width: 100%;
    margin-top: 15px;
}
.code code{
    display: block;
    width: max-content;
    max-width: 100%;
    background: #f7f7f7;
    padding: 10px 15px;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    border: 1px solid #eee;
}
#slider input{
    margin-top: 0px;
}
.ignore{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    line-height: 1;
    font-size: 12px;
}



